openapi: 3.1.0
info:
  version: 1.578.2
  title: Dfns
servers:
  - url: https://api.dfns.io
    description: Production
  - url: https://api.dfns.ninja
    description: <Deprecated> Staging
components:
  securitySchemes:
    authenticationToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        **Bearer Token:** Used to authenticate API requests.

        More details how to generate the token: [Authentication
        flows](https://docs.dfns.co/api-reference/auth/flows)
    userActionSignature:
      type: apiKey
      in: header
      name: X-DFNS-USERACTION
      description: >-
        **User Action Signature:** Used to sign the change-inducing API
        requests.

        More details how to generate the token: [User Action Signing
        flows](https://docs.dfns.co/api-reference/signing-flows)
  schemas:
    Wallet:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: ID of the wallet.
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        network:
          type: string
          description: Network this wallet is bound to.
          enum: &ref_0
            - Algorand
            - AlgorandTestnet
            - Aptos
            - AptosTestnet
            - ArbitrumOne
            - ArbitrumSepolia
            - AvalancheC
            - AvalancheCFuji
            - BabylonGenesis
            - BabylonTestnet5
            - Base
            - BaseSepolia
            - Berachain
            - BerachainBepolia
            - Bitcoin
            - BitcoinSignet
            - BitcoinTestnet3
            - BitcoinCash
            - Bob
            - BobSepolia
            - Bsc
            - BscTestnet
            - Canton
            - CantonTestnet
            - Cardano
            - CardanoPreprod
            - Celo
            - CeloAlfajores
            - Codex
            - CodexSepolia
            - CosmosHub4
            - CosmosIcsTestnet
            - Dogecoin
            - Ethereum
            - EthereumGoerli
            - EthereumSepolia
            - EthereumHolesky
            - EthereumHoodi
            - FantomOpera
            - FantomTestnet
            - FlareC
            - FlareCCoston2
            - Hedera
            - HederaTestnet
            - Ink
            - InkSepolia
            - InternetComputer
            - Ion
            - IonTestnet
            - Iota
            - IotaTestnet
            - KadenaTestnet4
            - Kadena
            - Kaspa
            - Kusama
            - Litecoin
            - Near
            - NearTestnet
            - Optimism
            - OptimismSepolia
            - Origyn
            - Plume
            - PlumeSepolia
            - Polkadot
            - Polygon
            - PolygonAmoy
            - Polymesh
            - PolymeshTestnet
            - Race
            - RaceSepolia
            - SeiAtlantic2
            - SeiPacific1
            - Solana
            - SolanaDevnet
            - Stellar
            - StellarTestnet
            - Sui
            - SuiTestnet
            - Tsc
            - TscTestnet1
            - Tezos
            - TezosGhostnet
            - Ton
            - TonTestnet
            - Tron
            - TronNile
            - Westend
            - XrpLedger
            - XrpLedgerTestnet
        address:
          type: string
          description: Wallet address on its corresponding network.
        signingKey:
          type: object
          properties:
            id:
              type: string
              maxLength: 64
              pattern: key-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: Key id.
              example: key-01snl-t56gb-j8tsok0vn802p80i
            scheme:
              type: string
              enum: &ref_123
                - ECDSA
                - EdDSA
                - Schnorr
              description: Key scheme.
            curve:
              type: string
              enum:
                - ed25519
                - secp256k1
                - stark
            publicKey:
              type: string
              description: Hex-encoded value of the public key.
              example: >-
                e2375c8c9e87bfcd0be8f29d76c818cabacd51584f72cb2222d49a13b036d84d3d
            delegatedTo:
              type: string
              maxLength: 64
              pattern: us-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: The end user ID the key (and wallet) is delegated to.
              example: us-6b58p-r53sr-rlrd3l5cj3uc4ome
          required:
            - id
            - scheme
            - curve
            - publicKey
          description: Details about the key underlying the wallet.
        status:
          type: string
          enum:
            - Active
            - Archived
          description: Wallet status.
        dateCreated:
          type: string
          description: >-
            [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string when
            wallet was created.
          example: 2023-04-14T20:41:28.715Z
        dateDeleted:
          type: string
          description: >-
            [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string when
            wallet was deleted.
          example: 2023-04-14T20:41:28.715Z
        name:
          type: string
          maxLength: 100
          description: Wallet nickname.
        custodial:
          type: boolean
          description: >-
            Whether the wallet is owned by an end user (non-custodial), or by
            your organization (custodial).
        externalId:
          type: string
          maxLength: 100
          description: >-
            User-defined value that can be used to correlate the entity with an
            external system.
        tags:
          type: array
          items:
            type: string
            pattern: ^[a-zA-Z0-9_.:/+-]{1,100}$
            description: Wallet Tag.
          maxItems: 10
          description: List of tags.
        validatorId:
          type: string
          maxLength: 64
          pattern: cv-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: >-
            Id of the validator on which the wallet is created for Canton
            networks
          example: cv-7jeof-m584r-p35ucm37ko3cqgts
      required:
        - id
        - network
        - signingKey
        - status
        - dateCreated
        - custodial
        - tags
      example:
        id: wa-1f04s-lqc9q-xxxxxxxxxxxxxxxx
        network: Ethereum
        address: '0x00e3495cf6af59008f22ffaf32d4c92ac33dac47'
        name: trading hot wallet
        signingKey:
          id: key-6ece3-9l565-xxxxxxxxxxxxxxxx
          scheme: ECDSA
          curve: secp256k1
          publicKey: e2375c8c9e87bfcd0be8f29d76c818cabacd51584f72cb2222d49a13b036d84d3d
        status: Active
        dateCreated: 2023-04-14T20:41:28.715Z
        custodial: true
        tags: []
    User:
      type: object
      properties:
        username:
          type: string
        name:
          type: string
        userId:
          type: string
          maxLength: 64
          pattern: us-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: User id.
          example: us-6b58p-r53sr-rlrd3l5cj3uc4ome
        kind:
          type: string
          enum: &ref_3
            - CustomerEmployee
            - EndUser
          description: User kind.
        credentialUuid:
          type: string
        orgId:
          type: string
        permissions:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        isServiceAccount:
          type: boolean
        isRegistered:
          type: boolean
        isSSORequired:
          type: boolean
        permissionAssignments:
          type: array
          items:
            type: object
            properties:
              permissionName:
                type: string
              permissionId:
                type: string
              assignmentId:
                type: string
              operations:
                type: array
                items:
                  type: string
            required:
              - permissionName
              - permissionId
              - assignmentId
      required:
        - username
        - name
        - userId
        - kind
        - credentialUuid
        - orgId
        - isActive
        - isServiceAccount
        - isRegistered
        - isSSORequired
        - permissionAssignments
    Network:
      type: string
      title: Network
      enum: *ref_0
    BlockchainKind:
      type: string
      enum:
        - Algorand
        - Aptos
        - Bitcoin
        - BitcoinCash
        - Canton
        - Cardano
        - Cosmos
        - Evm
        - Hedera
        - Icp
        - Iota
        - Kadena
        - Kaspa
        - Near
        - Polymesh
        - Solana
        - Stellar
        - Substrate
        - Sui
        - Tezos
        - Ton
        - Tron
        - Xrpl
    CantonValidator:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: cv-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          example: cv-7jeof-m584r-p35ucm37ko3cqgts
        orgId:
          type: string
          maxLength: 64
          pattern: or-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Organization id.
          example: or-30tnh-itmjs-s235s5ontr3r23h2
        network:
          type: string
          enum:
            - Canton
            - CantonDevnet
            - CantonTestnet
        name:
          type: string
        kind:
          type: string
          enum:
            - Shared
            - Custom
        dateCreated:
          type: string
        partyHint:
          type: string
      required:
        - id
        - orgId
        - network
        - kind
        - dateCreated
        - partyHint
    TransferRequest:
      type: object
      properties:
        id:
          type: string
        walletId:
          type: string
        network:
          $ref: '#/components/schemas/Network'
        requester:
          type: object
          properties:
            userId:
              type: string
            tokenId:
              type: string
          required:
            - userId
        requestBody:
          oneOf:
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Native
                to:
                  type: string
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: >-
                    The amount of native tokens to transfer in minimum
                    denomination.
                memo:
                  type: string
                  description: >-
                    The memo or destination tag. `Stellar`, `TON` and
                    `XrpLedger` support `memo`. Not valid for other networks.
                priority:
                  type: string
                  enum:
                    - Slow
                    - Standard
                    - Fast
                  description: >-
                    The priority that determines the fees paid for the transfer.
                    All EVM compatible networks and Bitcoin support `priority`.
                    Not supported for other networks. It uses the [estimate
                    fees](https://docs.dfns.co/api-reference/networks/estimate-fees)
                    API to calculate the transfer fees. When not specified,
                    defaults to `Standard` priority.
                createDestinationAccount:
                  type: boolean
                  description: >-
                    Whether to create the destination account on chains that
                    require account creation (e.g., Stellar, Kadena). Only valid
                    for chains that require the receiver account to exist before
                    transfer.
                offer:
                  type: boolean
                  description: >-
                    Optional field for Canton, if true it will create a transfer
                    offer.
                expiresAt:
                  type: string
                  format: date-time
                  description: >-
                    Optional field for Canton, especially useful in the context
                    of offers
                targetChain:
                  type: string
                  description: >-
                    For multi-chain networks (e.g., Kadena), specify the
                    destination chain for cross-chain transfers.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer the native token of the network. All networks support
                the native token type.
              title: Native Asset
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Asa
                assetId:
                  type: string
                  pattern: ^\d+$
                  description: 'The token asset id. '
                to:
                  type: string
                  pattern: ^[A-Z0-9]{58}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - assetId
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer Algorand standard assets, or
                [ASAs](https://developer.algorand.org/docs/get-details/asa/).
              title: Algorand Standard Asset
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Aip21
                metadata:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{64}$
                  description: 'The asset metadata address. '
                to:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{64}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - metadata
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer Aptos fungible asset that implement the [AIP-21
                specification](https://github.com/aptos-foundation/AIPs/blob/main/aips/aip-21.md).
              title: Aptos Fungible Asset (AIP-21)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Asset
                assetId:
                  type: string
                  description: 'The token asset id. '
                to:
                  type: string
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - assetId
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer Cardano assets following [Mary
                update](https://docs.cardano.org/about-cardano/evolution/upgrades/mary)
              title: Cardano Asset
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Coin
                coin:
                  type: string
                  description: The coin identifier.
                to:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{64}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - coin
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer Sui fungible assets that implement [coin
                standard](https://docs.sui.io/standards/coin).
              title: Sui Coin
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Erc20
                contract:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{40}$
                  description: The ERC-20 contract address.
                to:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{40}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                priority:
                  type: string
                  enum:
                    - Slow
                    - Standard
                    - Fast
                  description: The priority that determines the fees paid for the transfer.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - contract
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer fungible tokens that implement the [ERC-20
                specification](https://eips.ethereum.org/EIPS/eip-20).
              title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Erc721
                contract:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{40}$
                  description: The ERC-721 contract address.
                to:
                  type: string
                  pattern: ^0x[0-9a-fA-F]{40}$
                  description: The destination address.
                tokenId:
                  type: string
                  pattern: ^\d+$
                  description: The token to transfer.
                priority:
                  type: string
                  enum:
                    - Slow
                    - Standard
                    - Fast
                  description: The priority that determines the fees paid for the transfer.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - contract
                - to
                - tokenId
              additionalProperties: false
              description: >-
                Transfer non-fungible tokens that implement the [ERC-721
                specification](https://eips.ethereum.org/EIPS/eip-721)
              title: EVM Non Fungible Token (ERC-721)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Hip17
                tokenId:
                  type: string
                  description: The token to transfer.
                serialNumber:
                  type: string
                  pattern: ^\d+$
                to:
                  type: string
                  pattern: >-
                    ^(0x[0-9a-fA-F]{40}|0\.0\.(\d+|[0-9a-fA-F]{40}|[0-9a-fA-F]{64,}))$
                  description: The destination address.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - tokenId
                - serialNumber
                - to
              additionalProperties: false
              description: ''
              title: Hedera Non-Fungible Token (HIP-17)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Hts
                tokenId:
                  type: string
                  description: The token to transfer.
                to:
                  type: string
                  pattern: >-
                    ^(0x[0-9a-fA-F]{40}|0\.0\.(\d+|[0-9a-fA-F]{40}|[0-9a-fA-F]{64,}))$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - tokenId
                - to
                - amount
              additionalProperties: false
              description: ''
              title: Hedera Tokens (HTS)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Sep41
                issuer:
                  type: string
                  pattern: ^(G[A-Z0-9]{55}|M[A-Z0-9]{68})$
                  description: The asset issuer address.
                assetCode:
                  type: string
                  description: The asset code.
                to:
                  type: string
                  pattern: ^(G[A-Z0-9]{55}|M[A-Z0-9]{68})$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                memo:
                  type: string
                  description: The memo or destination tag.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - issuer
                - assetCode
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer classic [Stellar
                Assets](https://developers.stellar.org/docs/issuing-assets/anatomy-of-an-asset).
                They all implement the [SEP-41 token
                interface](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0041.md).
              title: Stellar Classic Assets (SEP-41)
            - type: object
              properties:
                kind:
                  type: string
                  enum: &ref_4
                    - Spl
                    - Spl2022
                to:
                  type: string
                  pattern: ^[1-9A-HJ-NP-Za-km-z]{32,44}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                mint:
                  type: string
                  pattern: ^[1-9A-HJ-NP-Za-km-z]{32,44}$
                  description: The mint account address.
                createDestinationAccount:
                  type: boolean
                  description: >-
                    If `true`, pay to create the associated token account for
                    the recipient if it doesn't exist. Defaults to `false`.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - to
                - amount
                - mint
              additionalProperties: false
              description: >-
                Transfer [SPL tokens](https://spl.solana.com/token) or [SPL 2022
                tokens](https://spl.solana.com/token-2022).
              title: Solana Program Library Token (SPL and SPL 2022)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Tep74
                to:
                  type: string
                  pattern: ^(?:[A-Za-z0-9\-_]{48}|\d+:[a-fA-F0-9]{64})$
                  description: The destination address.
                master:
                  type: string
                  pattern: ^(?:[A-Za-z0-9\-_]{48}|\d+:[a-fA-F0-9]{64})$
                  description: The Jetton master contract address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                memo:
                  type: string
                  description: The memo or destination tag.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - to
                - master
                - amount
              additionalProperties: false
              description: >-
                Transfer
                [Jetton](https://github.com/ton-blockchain/TEPs/blob/master/text/0074-jettons-standard.md)
                tokens.
              title: TON Jetton (TEP-74)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Trc10
                tokenId:
                  type: string
                  pattern: ^\d+$
                  description: The token ID.
                to:
                  type: string
                  pattern: ^T[0-9a-zA-Z]{33}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - tokenId
                - to
                - amount
              additionalProperties: false
              description: Transfer TRON's TRC-10 fungible tokens
              title: TRON Native Fungible Token (TRC-10)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Trc20
                contract:
                  type: string
                  pattern: ^T[0-9a-zA-Z]{33}$
                  description: The smart contract address.
                to:
                  type: string
                  pattern: ^T[0-9a-zA-Z]{33}$
                  description: The destination address.
                amount:
                  type: string
                  pattern: ^\d+$
                  description: The amount of tokens to transfer in minimum denomination.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - contract
                - to
                - amount
              additionalProperties: false
              description: >-
                Transfer fungible tokens that implement the TRC-20 smart
                contract specification.
              title: TRON Smart Contract Fungible Token (TRC-20)
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Trc721
                contract:
                  type: string
                  pattern: ^T[0-9a-zA-Z]{33}$
                  description: The smart contract address.
                to:
                  type: string
                  pattern: ^T[0-9a-zA-Z]{33}$
                  description: The destination address.
                tokenId:
                  type: string
                  pattern: ^\d+$
                  description: The token to transfer.
                externalId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    A unique ID from your system. It can be leveraged to be used
                    as an idempotency key. (read more
                    [here](https://docs.dfns.co/api-reference/idempotency))
                travelRule:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Notabene
                        beneficiaryVASPdid:
                          type: string
                        beneficiaryProof:
                          type: object
                          additionalProperties: {}
                        originator:
                          type: object
                          additionalProperties: {}
                        beneficiary:
                          type: object
                          additionalProperties: {}
                      required:
                        - kind
                        - originator
                        - beneficiary
                      additionalProperties: false
                  description: >-
                    A travel rule payload to associate with the transfer. (read
                    more [here](https://docs.dfns.co/features/travel-rule))
                feeSponsorId:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: >-
                    Id of the fee sponsor that will be used to pay for your
                    transfer fees, it might not be available for all
                    blockchains. (read more
                    [here](https://docs.dfns.co/features/fee-sponsors))
              required:
                - kind
                - contract
                - to
                - tokenId
              additionalProperties: false
              description: >-
                Transfer non-fungible tokens that implement the TRC-721 smart
                contract specification.
              title: TRON Non Fungible Token (TRC-721)
        metadata:
          type: object
          properties:
            asset:
              type: object
              properties:
                symbol:
                  type: string
                decimals:
                  type: integer
                verified:
                  type: boolean
                quotes:
                  type: object
                  properties:
                    EUR: &ref_1
                      type: number
                    USD: *ref_1
          required:
            - asset
        status:
          type: string
          enum:
            - Pending
            - Executing
            - Broadcasted
            - Confirmed
            - Failed
            - Rejected
        reason:
          type: string
        txHash:
          type: string
        fee:
          type: string
        dateRequested:
          type: string
        datePolicyResolved:
          type: string
        dateBroadcasted:
          type: string
        dateConfirmed:
          type: string
        approvalId:
          type: string
        externalId:
          type: string
        feeSponsorId:
          type: string
      required:
        - id
        - walletId
        - network
        - requester
        - requestBody
        - metadata
        - status
        - dateRequested
    Swap:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: swap-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Swap id.
          example: swap-5ch70-fc3n7-3k2cbo8d7q5lnts4
        quoteId:
          type: string
          maxLength: 64
          pattern: swapQuote-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Id of the quote this swap is based on.
          example: swapQuote-7n9p0-cth75-6l74n2sj7u73ooeq
        reference:
          type:
            - string
            - 'null'
          description: Optional user-defined reference for this Swap.
        walletId:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Id of the Dfns wallet spending the sourceAsset.
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        targetWalletId:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: >-
            Id of the Dfns wallet receiving the target asset. Currently this
            value must be the same as the `walletId`.
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        status:
          type: string
          enum:
            - PendingPolicyApproval
            - InProgress
            - Completed
            - Failed
            - Rejected
          description: Swap status.
        provider:
          type: string
          enum:
            - UniswapX
            - UniswapClassic
          description: Swap provider.
        quotedSourceAsset:
          allOf:
            - oneOf:
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Native
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - amount
                  title: Native Asset
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                metadata:
                  type: object
                  properties:
                    network:
                      $ref: '#/components/schemas/Network'
                    name:
                      type: string
                    symbol:
                      type: string
                    decimals:
                      type: number
                    tid:
                      type: string
                  required:
                    - network
                    - decimals
              required:
                - metadata
          description: The source asset for this swap transaction.
        quotedTargetAsset:
          allOf:
            - oneOf:
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Native
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - amount
                  title: Native Asset
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                metadata:
                  type: object
                  properties:
                    network:
                      $ref: '#/components/schemas/Network'
                    name:
                      type: string
                    symbol:
                      type: string
                    decimals:
                      type: number
                    tid:
                      type: string
                  required:
                    - network
                    - decimals
              required:
                - metadata
          description: The target asset for this swap transaction.
        slippageBps:
          type: number
          description: >-
            The slippage tolerance for this trade in [basis
            point](https://en.wikipedia.org/wiki/Basis_point) (BPS). Slippage
            tolerance defines the maximum price difference you are willing to
            accept during a trade from the estimated quote, ensuring you still
            receive at least a minimum number of tokens if the price shifts. One
            basis point equals one-hundredth of a percentage point, or 0.01%.
        dateCreated:
          type: string
          format: date-time
          description: >-
            [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date (must be
            UTC). When the swap was initiated.
        requestBody:
          anyOf:
            - type: object
              properties:
                quoteId:
                  type: string
                  maxLength: 64
                  pattern: swapQuote-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
                  description: Quote to use for this swap.
                  example: swapQuote-7n9p0-cth75-6l74n2sj7u73ooeq
                reference:
                  type: string
                  description: An optional reference for this Swap.
                provider:
                  type: string
                  enum:
                    - UniswapX
                    - UniswapClassic
                  description: >-
                    Provided for this swap. Used for attesting that the swap is
                    being created with the same parameters as the quote.
                walletId:
                  type: string
                  maxLength: 64
                  pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
                  description: >-
                    Id of the Dfns wallet spending the sourceAsset. Used for
                    attesting that the swap is being created with the same
                    parameters as the quote.
                  example: wa-5pfuu-9euek-h0odgb6snva8ph3k
                targetWalletId:
                  type: string
                  maxLength: 64
                  pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
                  description: >-
                    Id of the Dfns wallet receiving the target asset. Currently
                    this value must be the same as the `walletId`. Used for
                    attesting that the swap is being created with the same
                    parameters as the quote.
                  example: wa-5pfuu-9euek-h0odgb6snva8ph3k
                slippageBps:
                  type: number
                  description: >-
                    The slippage tolerance for this trade in [basis
                    point](https://en.wikipedia.org/wiki/Basis_point) (BPS).
                    Slippage tolerance defines the maximum price difference you
                    are willing to accept during a trade from the estimated
                    quote, ensuring you still receive at least a minimum number
                    of tokens if the price shifts. One basis point equals
                    one-hundredth of a percentage point, or 0.01%. Used for
                    attesting that the swap is being created with the same
                    parameters as the quote. 
                sourceAsset:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Native
                        amount:
                          type: string
                          pattern: ^\d+$
                      required:
                        - kind
                        - amount
                      title: Native Asset
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Erc20
                        contract:
                          type: string
                          pattern: ^0x[0-9a-fA-F]{40}$
                        amount:
                          type: string
                          pattern: ^\d+$
                      required:
                        - kind
                        - contract
                        - amount
                      title: EVM Fungible Token (ERC-20)
                  description: >-
                    The source asset that will be spent on the Swap transaction.
                    Used for attesting that the swap is being created with the
                    same parameters as the quote.
                targetAsset:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Native
                        amount:
                          type: string
                          pattern: ^\d+$
                      required:
                        - kind
                        - amount
                      title: Native Asset
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Erc20
                        contract:
                          type: string
                          pattern: ^0x[0-9a-fA-F]{40}$
                        amount:
                          type: string
                          pattern: ^\d+$
                      required:
                        - kind
                        - contract
                        - amount
                      title: EVM Fungible Token (ERC-20)
                  description: >-
                    The target asset that will be received with the Swap
                    transaction. Used for attesting that the swap is being
                    created with the same parameters as the quote.
              required:
                - quoteId
                - provider
                - walletId
                - slippageBps
                - sourceAsset
                - targetAsset
            - type: object
              properties: {}
          description: The full request used for initiating this swap.
        requester:
          type: object
          properties:
            userId:
              type: string
              maxLength: 64
              pattern: us-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: User (could be a service account) who requested the resource.
              example: us-6b58p-r53sr-rlrd3l5cj3uc4ome
            tokenId:
              type: string
              maxLength: 64
              pattern: to-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: >-
                Service Account token or Personal Access token used when
                requesting the resource.
              example: to-202a0-cdo33-o65mbt6q758lvvnt
          required:
            - userId
      required:
        - id
        - quoteId
        - reference
        - walletId
        - targetWalletId
        - status
        - provider
        - quotedSourceAsset
        - quotedTargetAsset
        - slippageBps
        - dateCreated
        - requestBody
        - requester
      example:
        id: swap-6a3ku-bn8d7-8u5rs1oukojms7k8
        quoteId: swapQuote-3hgv4-q8tbf-8v2ajmrbmg6m4i9t
        reference: null
        walletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
        targetWalletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
        status: PendingPolicyApproval
        provider: UniswapClassic
        quotedSourceAsset:
          kind: Native
          amount: '10000000000'
          metadata:
            network: EthereumSepolia
            name: Ethereum
            symbol: SepoliaETH
            decimals: 18
            tid: native:eth
        quotedTargetAsset:
          kind: Erc20
          contract: '0xda0be7efd234295395d4204d0df4358339b57b27'
          amount: '6467571553831928182'
          metadata:
            network: EthereumSepolia
            name: Test
            symbol: Test
            decimals: 18
            tid: erc20:0xda0be7efd234295395d4204d0df4358339b57b27
        slippageBps: 100
        dateCreated: 2025-09-11T10:57:55.758Z
        requestBody:
          quoteId: swapQuote-3hgv4-q8tbf-8v2ajmrbmg6m4i9t
          walletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
          targetWalletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
          provider: UniswapClassic
          slippageBps: 100
          sourceAsset:
            kind: Native
            amount: '10000000000'
          targetAsset:
            kind: Erc20
            contract: '0xda0be7efd234295395d4204d0df4358339b57b27'
            amount: '653003161'
        requester:
          userId: us-48r5q-eshfg-9pmr2lo6bmpr4i4i
          tokenId: to-4etah-smoal-9n3rmhul4dpaueg5
    Offer:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: offer-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Offer id.
          example: offer-3ugfu-o8duj-vqu770ckmg7ilhp4
        orgId:
          type: string
          maxLength: 64
          pattern: or-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Organization id.
          example: or-30tnh-itmjs-s235s5ontr3r23h2
        walletId:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Wallet id.
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        network:
          $ref: '#/components/schemas/Network'
        kind:
          type: string
          enum:
            - Native
            - Aip21
            - Asa
            - Coin
            - Erc20
            - Erc721
            - Asset
            - Hip17
            - Hts
            - Sep41
            - Spl
            - Spl2022
            - Tep74
            - Trc10
            - Trc20
            - Trc721
        metadata:
          type: object
          properties:
            asset:
              type: object
              properties:
                symbol:
                  type: string
                decimals:
                  type: integer
                verified:
                  type: boolean
                quotes:
                  type: object
                  properties:
                    EUR: &ref_2
                      type: number
                    USD: *ref_2
          required:
            - asset
        txHash:
          type: string
        status:
          type: string
          enum:
            - Pending
            - Accepted
            - Rejected
            - Expired
        from:
          type: string
        to:
          type: string
        value:
          type: string
          pattern: ^\d+(\.\d+)?$
        timestamp:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
      required:
        - id
        - orgId
        - walletId
        - network
        - kind
        - metadata
        - txHash
        - status
        - from
        - to
        - value
        - timestamp
    SwapQuote:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: swapQuote-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: ID of the Swap Quote.
          example: swapQuote-7n9p0-cth75-6l74n2sj7u73ooeq
        walletId:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Id of the Dfns wallet spending the sourceAsset.
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        targetWalletId:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: >-
            If not provided, the walletId is used as the target wallet. If
            provided, this field is currently required to be the same as
            walletId
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        provider:
          type: string
          enum:
            - UniswapX
            - UniswapClassic
          description: Swap provider.
        sourceAsset:
          allOf:
            - oneOf:
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Native
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - amount
                  title: Native Asset
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                metadata:
                  type: object
                  properties:
                    network:
                      $ref: '#/components/schemas/Network'
                    name:
                      type: string
                    symbol:
                      type: string
                    decimals:
                      type: number
                    tid:
                      type: string
                  required:
                    - network
                    - decimals
              required:
                - metadata
          description: The source asset that will be spent on the swap transaction.
        targetAsset:
          allOf:
            - oneOf:
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Native
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - amount
                  title: Native Asset
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                metadata:
                  type: object
                  properties:
                    network:
                      $ref: '#/components/schemas/Network'
                    name:
                      type: string
                    symbol:
                      type: string
                    decimals:
                      type: number
                    tid:
                      type: string
                  required:
                    - network
                    - decimals
              required:
                - metadata
          description: The target asset that will be received with the swap transaction.
        slippageBps:
          type: number
          description: >-
            The slippage tolerance for this trade in [basis
            point](https://en.wikipedia.org/wiki/Basis_point) (BPS). Slippage
            tolerance defines the maximum price difference you're willing to
            accept during a trade from the estimated quote, ensuring you still
            receive at least a minimum number of tokens if the price shifts. One
            basis point equals one-hundredth of a percentage point, or 0.01%.
        dateCreated:
          type: string
          format: date-time
          description: >-
            [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date (must be
            UTC). When the quote was created.
        requestBody:
          anyOf:
            - type: object
              properties:
                provider:
                  type: string
                  enum:
                    - UniswapX
                    - UniswapClassic
                  description: Swap provider.
                walletId:
                  type: string
                  maxLength: 64
                  pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
                  description: Id of the Dfns wallet spending the sourceAsset.
                  example: wa-5pfuu-9euek-h0odgb6snva8ph3k
                targetWalletId:
                  type: string
                  maxLength: 64
                  pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
                  description: >-
                    Id of the Dfns wallet receiving the target asset. Currently
                    this value must be the same as the `walletId`.
                  example: wa-5pfuu-9euek-h0odgb6snva8ph3k
                sourceAsset:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Native
                        amount:
                          type: string
                          pattern: ^\d+$
                      required:
                        - kind
                        - amount
                      title: Native Asset
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Erc20
                        contract:
                          type: string
                          pattern: ^0x[0-9a-fA-F]{40}$
                        amount:
                          type: string
                          pattern: ^\d+$
                      required:
                        - kind
                        - contract
                        - amount
                      title: EVM Fungible Token (ERC-20)
                  description: >-
                    The source asset that will be spent on the Swap transaction,
                    following the same stucture as the [transfer
                    API](https://docs.dfns.co/api-reference/wallets/transfer-asset).
                targetAsset:
                  oneOf:
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Native
                      required:
                        - kind
                      title: Native Asset
                    - type: object
                      properties:
                        kind:
                          type: string
                          enum:
                            - Erc20
                        contract:
                          type: string
                          pattern: ^0x[0-9a-fA-F]{40}$
                      required:
                        - kind
                        - contract
                      title: EVM Fungible Token (ERC-20)
                  description: >-
                    The target asset that will be received with the Swap
                    transaction, follows the same structure as sourceAsset, but
                    doesn't include the amount.
                slippageBps:
                  type: number
                  description: >-
                    The slippage tolerance for this trade in [basis
                    point](https://en.wikipedia.org/wiki/Basis_point) (BPS).
                    Slippage tolerance defines the maximum price difference
                    you're willing to accept during a trade from the estimated
                    quote, ensuring you still receive at least a minimum number
                    of tokens if the price shifts. One basis point equals
                    one-hundredth of a percentage point, or 0.01%.
              required:
                - provider
                - walletId
                - sourceAsset
                - targetAsset
                - slippageBps
            - type: object
              properties: {}
          description: The full request used for obtaining this quote.
        requester:
          type: object
          properties:
            userId:
              type: string
              maxLength: 64
              pattern: us-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: User (could be a service account) who requested the quote.
              example: us-6b58p-r53sr-rlrd3l5cj3uc4ome
            tokenId:
              type: string
              maxLength: 64
              pattern: to-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: >-
                Service Account token or Personal Access token used when
                requesting the quote.
              example: to-202a0-cdo33-o65mbt6q758lvvnt
          required:
            - userId
      required:
        - id
        - walletId
        - provider
        - sourceAsset
        - targetAsset
        - slippageBps
        - dateCreated
        - requestBody
        - requester
      example:
        id: swapQuote-3hgv4-q8tbf-8v2ajmrbmg6m4i9t
        walletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
        targetWalletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
        provider: UniswapClassic
        sourceAsset:
          kind: Native
          amount: '10000000000'
          metadata:
            network: EthereumSepolia
            name: Ethereum
            symbol: SepoliaETH
            decimals: 18
            tid: native:eth
        targetAsset:
          kind: Erc20
          contract: '0xda0be7efd234295395d4204d0df4358339b57b27'
          amount: '6467571553831928182'
          metadata:
            network: EthereumSepolia
            name: Test
            symbol: Test
            decimals: 18
            tid: erc20:0xda0be7efd234295395d4204d0df4358339b57b27
        slippageBps: 100
        dateCreated: 2025-09-11T10:52:15.039Z
        requestBody:
          provider: UniswapClassic
          walletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
          targetWalletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
          sourceAsset:
            kind: Native
            amount: '10000000000'
          targetAsset:
            kind: Erc20
            contract: '0xda0be7efd234295395d4204d0df4358339b57b27'
          slippageBps: 100
        requester:
          userId: us-48r5q-eshfg-9pmr2lo6bmpr4i4i
          tokenId: to-4etah-smoal-9n3rmhul4dpaueg5
    Yield:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: yld-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Unique identifier for the yield investment.
          example: yld-2rrvm-d90av-s7n3hi738i43gdh3
        walletId:
          type: string
          maxLength: 64
          pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Wallet id.
          example: wa-5pfuu-9euek-h0odgb6snva8ph3k
        protocol:
          type: string
          enum:
            - 0fns
          description: >-
            The DeFi protocol used for yield generation. Currently supports OFNS
            protocol
        amount:
          allOf:
            - oneOf:
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Native
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - amount
                  title: Native Asset
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                metadata:
                  type: object
                  properties:
                    network:
                      $ref: '#/components/schemas/Network'
                    name:
                      type: string
                    symbol:
                      type: string
                    decimals:
                      type: number
                    tid:
                      type: string
                  required:
                    - network
                    - decimals
              required:
                - metadata
          description: The total amount currently invested in this yield.
        rewards:
          allOf:
            - oneOf:
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Native
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - amount
                  title: Native Asset
                - type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
            - type: object
              properties:
                metadata:
                  type: object
                  properties:
                    network:
                      $ref: '#/components/schemas/Network'
                    name:
                      type: string
                    symbol:
                      type: string
                    decimals:
                      type: number
                    tid:
                      type: string
                  required:
                    - network
                    - decimals
              required:
                - metadata
          description: The total interest earned so far in this yield.
        dateCreated:
          type: string
          format: date-time
          description: >-
            [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date (must be
            UTC). [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date. When
            the yield was created.
          example: 2023-04-14T20:41:28.715Z
      required:
        - id
        - walletId
        - protocol
        - amount
        - rewards
        - dateCreated
      description: >-
        A yield investment representing funds deposited to earn interest from a
        DeFi protocol.
      example:
        id: yld-6a3ku-bn8d7-8u5rs1oukojms7k8
        walletId: wa-3l3cj-l8mq7-8q78f9nopq7f1qjv
        protocol: 0fns
        amount:
          kind: Erc20
          contract: '0x0A7660979A67E4bC51E750C628C8479ff9F458aE'
          amount: '1000000000'
          metadata:
            network: EthereumSepolia
            name: 0fns
            symbol: 0fnsSepolia
            decimals: 6
            tid: erc20:0x0A7660979A67E4bC51E750C628C8479ff9F458aE
        rewards:
          kind: Erc20
          contract: '0x0A7660979A67E4bC51E750C628C8479ff9F458aE'
          amount: '5000000'
          metadata:
            network: EthereumSepolia
            name: 0fns
            symbol: 0fnsSepolia
            decimals: 6
            tid: erc20:0x0A7660979A67E4bC51E750C628C8479ff9F458aE
        dateCreated: 2025-10-09T10:57:55.758Z
    YieldAction:
      type: object
      properties:
        id:
          type: string
          maxLength: 64
          pattern: ylda-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Unique identifier for the yield action.
          example: ylda-2d6rq-6jvb0-q1qffhc3guna7v3d
        yieldId:
          type: string
          maxLength: 64
          pattern: yld-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
          description: Unique identifier for the yield investment.
          example: yld-2rrvm-d90av-s7n3hi738i43gdh3
        externalId:
          type: string
          description: >-
            An optional external identifier provided by the client to ensure
            idempotency and prevent duplicate operations.
        kind:
          type: string
          enum:
            - Deposit
            - Withdraw
          description: >-
            The type of action being performed on the yield investment: Deposit
            to add funds or Withdraw to remove funds.
        status:
          type: string
          enum:
            - PendingPolicyApproval
            - InProgress
            - Completed
            - Failed
            - Rejected
          description: >-
            Status of the yield action. Once initiated, the status will be
            InProgress, after processing it will be Completed or Failed.
        requester:
          type: object
          properties:
            userId:
              type: string
              maxLength: 64
              pattern: us-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: User (could be a service account) who requested the resource.
              example: us-6b58p-r53sr-rlrd3l5cj3uc4ome
            tokenId:
              type: string
              maxLength: 64
              pattern: to-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
              description: >-
                Service Account token or Personal Access token used when
                requesting the resource.
              example: to-202a0-cdo33-o65mbt6q758lvvnt
          required:
            - userId
        requestBody:
          anyOf:
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - Deposit
                    - Withdraw
                  description: >-
                    The type of action being performed on the yield investment:
                    Deposit to add funds or Withdraw to remove funds.
                externalId:
                  type: string
                  description: >-
                    An optional external identifier provided by the client to
                    ensure idempotency and prevent duplicate operations.
                sourceAsset:
                  type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
                targetAsset:
                  type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
                slippageBps:
                  type: number
                  description: >-
                    The slippage tolerance for this trade in [basis
                    point](https://en.wikipedia.org/wiki/Basis_point) (BPS).
                    Slippage tolerance defines the maximum price difference
                    you're willing to accept during a trade from the estimated
                    quote, ensuring you still receive at least a minimum number
                    of tokens if the price shifts. One basis point equals
                    one-hundredth of a percentage point, or 0.01%.
              required:
                - kind
                - sourceAsset
                - targetAsset
                - slippageBps
              description: >-
                Request body for creating a yield action. Different protocols
                may have different requirements.
              title: 0fns Yield Action Request
            - type: object
              properties:
                walletId:
                  type: string
                  maxLength: 64
                  pattern: wa-[a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{14,16}
                  description: Wallet id.
                  example: wa-5pfuu-9euek-h0odgb6snva8ph3k
                protocol:
                  type: string
                  enum:
                    - 0fns
                  description: Ofns protocol
                externalId:
                  type: string
                  description: >-
                    An optional external identifier provided by the client to
                    ensure idempotency and prevent duplicate operations.
                sourceAsset:
                  type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
                targetAsset:
                  type: object
                  properties:
                    kind:
                      type: string
                      enum:
                        - Erc20
                    contract:
                      type: string
                      pattern: ^0x[0-9a-fA-F]{40}$
                    amount:
                      type: string
                      pattern: ^\d+$
                  required:
                    - kind
                    - contract
                    - amount
                  title: EVM Fungible Token (ERC-20)
                slippageBps:
                  type: number
                  description: >-
                    The slippage tolerance for this trade in [basis
                    point](https://en.wikipedia.org/wiki/Basis_point) (BPS).
                    Slippage tolerance defines the maximum price difference
                    you're willing to accept during a trade from the estimated
                    quote, ensuring you still receive at least a minimum number
                    of tokens if the price shifts. One basis point equals
                    one-hundredth of a percentage point, or 0.01%.
              required:
                - walletId
                - protocol
                - sourceAsset
                - targetAsset
                - slippageBps
              description: >-
                Request body for creating a yield investment using the 0fns
                protocol.
              title: 0fns Yield Request
          description: The full request used for initiating this yield action.
        dateCreated:
          type: string
[...]
